---
const PAGES = [
    { title: 'Main', href: '/' },
    { title: 'About', href: '/about' },
]

const LINKS = [
    { title: 'Discord', href: 'https://discord.gg/KqZfKrFQbP', icon: '/discord.svg' }
]
---

<header>
    <a href="/" class="main-icon">
        <img src="/favicon.jpg" alt="Astro Team" height="48px" />
    </a>
    <a href="javascript:void(0)" class="open-discord">
        <img src="/public/discord.svg" alt="Discord" height="32px" />
    </a>
    <nav class="discord">
        {PAGES.map(page => (
            <a href={page.href}>{page.title}</a>
        ))}
    </nav>
    <div class="media-links">
        {LINKS.map(link => (
            <a href={link.href} class="media-link">
                <img src={link.icon} alt={link.title} height="32px" />
            </a>
        ))}
    </div>
</header>

<style define:vars={{ pageCount: PAGES.length }}>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        height: 40px;
    }
    
    header a {
        color: white;
        opacity: 0.75;
        text-decoration: none;
    }
    
    header a:hover {
        text-decoration: underline;
    }
    
    header nav {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        background: rgba(0, 0, 0, 0.3);
        padding: 0.6rem;
        border-radius: 1.5rem;
    }
    
    header nav a {
        margin: 0 2rem 0 0;
    }
    
    header nav a:first-child {
        margin: 0 2rem;
    }

    header nav a:not(:last-child)::after {
        content: '';
        margin: 0 0 0 2rem;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        height: 1rem;
    }

    header .media-links {
        display: flex;
    }

    header .media-link {
        margin: 0 0 0 1rem;
        opacity: 1;
    }

    header .media-link img {
        color: white;
    }

    .open-discord {
        display: none;
    }

    @media (max-width: 800px) {
        .main-icon {
            display: none;
        }
        .open-menu, .mobile-menu {
            display: block;
        }
        header nav {
            display: none;
        }
    }
</style>